<div>
  <a ng-click="main.previousSlide()">
    <div class="left-triangle"></div>
  </a>
  <div class="header" ng-show="main.slides[main.slideIndex].title">
    <h1 class="title" ng-bind-html="main.slides[main.slideIndex].title"></h1>
  </div>
  <div class="container slide" ng-include="main.currentSlide()"></div>
  <a ng-click="main.nextSlide()">
    <div class="right-triangle"></div>
  </a>
    <span class="slideNo">
        <span>{{main.slideIndex+1}}</span> / <span>{{main.slides.length}}</span>
    </span>
</div>
